.container.about-page {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap; 
}

.textspace,
.stage-cube-cont {
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
  display: flex; /* Enables centering of content */
  justify-content: left; /* Centers content horizontally */
}


.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(30% - 100px);

  div {
    
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }
  .tf{
    height: 100px;
  }

  .SQL{
    height: 100px;
  }

  .AWS{
    height: 100px;
  }

  .Python{
    height: 100px;
  }

  .face1 {
    transform: translateZ(100px);
    color: #e6e6e6;
  }
  .face2 {
    transform: rotatex(270deg) rotateY(90deg) translateZ(100px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #efd81d;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #ec4d28;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(180 deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}


@media (max-width: 768px) { /* Adjust the max-width based on when you want the layout to stack */
  .textspace,
  .stage-cube-cont {
    flex: 1 1 100%; /* Each div takes up 100% of the width on smaller screens */
    margin-bottom: 20px; /* Optional: add space between stacked elements */
  }
}